https://chatgpt.com/share/63d62875-35ab-4447-8677-1945cbefcd8b
https://chatgpt.com/share/81bf5858-15e8-4e70-9944-e723f03c6692
https://chatgpt.com/share/6cd28703-68c7-491b-b852-4243d1374cc8

# pre-lecture HW 1

In [1]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Check for missing values
missing_values = df.isna().sum()
print(missing_values)

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

# pre-lecture HW 2

In [2]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# Get the number of rows and columns
num_rows, num_columns = data.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 391
Number of columns: 11

# pre-lecture HW 3

In [3]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# Get a summary of numerical columns
print("Summary of numerical columns:")
print(data.describe())

Summary of numerical columns:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [4]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# Get a summary of categorical columns
print("\nSummary of categorical columns:")
print(data.describe(include=['object']))

Summary of categorical columns:
             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

In [5]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# General information about the DataFrame
print("\nGeneral info about the dataset:")
print(data.info())

General info about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB
None

# pre-lecture HW 4

In [6]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# (a) Check for non-numeric variables
non_numeric_vars = data.select_dtypes(include=['object']).columns
print("Non-numeric variables:")
print(non_numeric_vars)

# (b) Check for missing values in numeric variables
missing_values_numeric = data.select_dtypes(include=[float, int]).isnull().sum()
print("\nMissing values in numeric variables:")
print(missing_values_numeric)

Non-numeric variables:
Index(['id', 'name', 'gender', 'species', 'birthday', 'personality', 'song',
       'phrase', 'full_id', 'url'],
      dtype='object')

Missing values in numeric variables:
row_n    0
dtype: int64

In [7]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
data = pd.read_csv(url)

# Get the shape of the dataset
shape = data.shape
print("Dataset shape:", shape)

Dataset shape: (891, 15)

In [8]:
# Get the descriptive statistics for numerical columns
describe_numeric = data.describe()

# Get the descriptive statistics for categorical columns
describe_categorical = data.describe(include=['object'])

print("\nDescriptive statistics for numerical columns:")
print(describe_numeric)

print("\nDescriptive statistics for categorical columns:")
print(describe_categorical)

Descriptive statistics for numerical columns:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Descriptive statistics for categorical columns:
         sex embarked  class  who deck  embark_town alive
count    891      889    891  891  203          889   891
unique     2        3      3    3    7            3     2
top     male        S  Third  man    C  Southampton    no
freq     577      644    491  537   59          644   549

"shape" shows the nuber of row and column including numerical and non-numerical;
"descirbe" shows only numerical columns and its desciption

# pre-lecture HW 5

"attribute" gives the state and related information of object and can access directly, so it doesn't need ();
"method" means the function to calculate or execute, and the () used for calling the function.
    the difference of "function" between math and programing:
        in programing: could have multiple input; the input can be changed and have multiple operations; may have more complicated logic. used for mission and execution.
           in math: used for calcualting and have only one input-output relationship. no more complicated logic.

# post-lecture HW 6

    1. Count:
	The number of non-null (non-missing) entries in the column. This helps you understand how many valid (non-missing) data points are present for each variable.
    
	2.	Mean:
	The arithmetic average of the data. It’s calculated by summing all the values in the column and then dividing by the number of values (i.e., the count). It provides a measure of central tendency.
    
	3.	Standard Deviation (std):
	A measure of the spread or dispersion of the data from the mean. A higher standard deviation indicates more spread out values. It gives you a sense of how much the values deviate from the mean.
    
	4.	Min:
	The smallest value in the column. It represents the minimum data point, or the lowest observed value.
    
	5.	25% (1st Quartile or Q1):
	The first quartile (Q1), which is the value below which 25% of the data fall. This is also known as the 25th percentile and gives you a measure of the lower bound of the central 50% of the data.
    
	6.	50% (Median or 2nd Quartile or Q2):
	The median, or the middle value of the data when it is sorted in ascending order. 50% of the data values are less than or equal to this value. Unlike the mean, the median is not affected by outliers.
    
	7.	75% (3rd Quartile or Q3):
	The third quartile (Q3), which is the value below which 75% of the data fall. This is also known as the 75th percentile and gives you a measure of the upper bound of the central 50% of the data.
    
	8.	Max:
	The largest value in the column. It represents the maximum data point, or the highest observed value.

# post-lecture HW 7

In [3]:
#Provide an example of a "use case" in which using df.dropna() might be peferred over using del df['col']

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

# Check for missing values in the dataset
missing_values = df.isnull().sum()
print(missing_values)

df_cleaned = df.dropna(subset=['age', 'embarked'])

# Check the shape of the original and cleaned dataframe
print(f'Original shape: {df.shape}')
print(f'Cleaned shape: {df_cleaned.shape}')

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
Original shape: (891, 15)
Cleaned shape: (712, 15)

In [8]:
# Provide an example of "the opposite use case" in which using del df['col'] might be preferred over using df.dropna() 

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

# Inspect columns and check for missing values
print(df.columns)
missing_values = df.isnull().sum()
print(missing_values)

# Display missing values for 'age' column
print(missing_values['age'])

del df['age']

# Check the remaining columns in the dataset
print(df.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
177
Index(['survived', 'pclass', 'sex', 'sibsp', 'parch', 'fare', 'embarked',
       'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone'],
      dtype='object')

 #Discuss why applying del df['col'] before df.dropna() when both are used together could be important：

 del df['col'] can delate one useless column and decrease the Complexity of a dataset, whcih makes df.dropna() calculate easier and have less chance to lost data

In [19]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

# Inspect missing values
missing_values = df.isnull().sum()
print("Missing values before cleaning:")
print(missing_values)

Missing values before cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [21]:
# Remove all missing data from one of the datasets you're considering using some combination of del df['col'] and/or df.dropna() and give a justification for your approach, including a "before and after" report of the results of your approach for your dataset.

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

# Remove the column have the most missing values: "deck"
del df['deck']

# Drop rows with missing values in 'embark_town' (only have 2 missing values)
df_cleaned = df.dropna(subset=['embark_town'])

# Check the shape of the original DataFrame
original_shape = df.shape
print(f"Original shape: {original_shape}")

# Check the shape of the cleaned DataFrame
cleaned_shape = df_cleaned.shape
print(f"Cleaned shape: {cleaned_shape}")

# Verify the absence of missing values
missing_values_cleaned = df_cleaned.isnull().sum()
print("Missing values after cleaning:")
print(missing_values_cleaned)

Original shape: (891, 14)
Cleaned shape: (889, 14)
Missing values after cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
embark_town      0
alive            0
alone            0
dtype: int64

# post-lecture HW 8

this code used for showing the related data between two columns, df.groupby("col1") means choose one column first and set different groups, ["col2"] means choose this column from each groups, .describe() means calculating the information of col2 from each group.

In [22]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'sex' and get descriptive statistics for 'fare'
grouped_stats = df.groupby("sex")["fare"].describe()

print(grouped_stats)

        count       mean        std   min        25%   50%    75%       max
sex
female  314.0  44.479818  57.997698  6.75  12.071875  23.0  55.00  512.3292
male    577.0  25.523893  43.138263  0.00   7.895800  10.5  26.55  512.3292

this code only cares about 2 columns but df.describe() cares about whole dataset. that's the difference.

In [32]:
# mistake trying
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'sex' and get descriptive statistics for 'fare'
grouped_stats = df.groupby(Sex)["fare"].describe()

print(grouped_stats)

NameError: name 'Sex' is not defined

not import pandas as pd: same speed, it is a simple question.

wrong URL: Chatbot is faster, it is hard to notice such small mistake of URL so I don't know how to search solution on Google.

use DF instead of df: nothing happened.

forgot parentheses: Chatbot is faster because there are too many different results on Google and click it one by one is much slower than Chatbot.

spelling mistake of function: Chatbot is faster because it is more targeted to a sepcific spelling mistake.

spelling mistake of column name: Chatbot is faster because it gives you directly answer and it is difficult to describe the error on Google.

Omit quotation marks: Chatbot is faster because there are too many different results on Google and click it one by one is much slower than Chatbot.

# post-lecture HW 9

somewhat